[submodule "other_repos/SecAlign"]
	path = other_repos/SecAlign
	url = https://github.com/facebookresearch/SecAlign.git
[submodule "other_repos/StruQ"]
	path = other_repos/StruQ
	url = https://github.com/Sizhe-Chen/StruQ
[submodule "other_repos/agentdojo"]
	path = other_repos/agentdojo
	url = https://github.com/ethz-spylab/agentdojo
[submodule "other_repos/Meta_SecAlign"]
	path = other_repos/Meta_SecAlign
	url = https://github.com/facebookresearch/Meta_SecAlign/
[submodule "other_repos/rl-injector"]
	path = other_repos/rl-injector
	url = https://github.com/facebookresearch/rl-injector.git
