torch
transformers
datasets
dill
trl
accelerate
peft
pandas
python-dotenv
huggingface_hub[cli]
hf_transfer
bitsandbytes
fschat
sentencepiece
matplotlib
seaborn
tqdm
agentdojo
openai
openai-harmony
triton==3.4
kernels